<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>이것은 <a href="http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기">http://a-mean-blog.com/ko/blog/Node-JS-첫걸음/게시판-만들기</a>를 그대로 배꼈습니다.</p>
      <P>근데 똑같이 베껴도 나는 왜 오류가 나지? 라는게 유머</P>

    </div>
  </body>
</html>