<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>게시판</h1>
        <P>전혀 이해를 못해서, 전혀 아는게 없어서, 그대로 복붙했습니다.</p>
        <p>참으로 부끄러우면서 착잡합니다. 자꾸 보다보면 뭔가 될 거 같은데...안되네...</p>
      </div>

    </div>
  </body>
</html>